body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.section:hover {
    background-color: #f5f5f5;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

button,
input[type="button"] {
    background-color: #477bff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.1;
    padding: 0.375rem 0.75rem;
    text-align: center;
    vertical-align: middle;
}

input[type="text"],
input[type="number"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover,
input[type="number"]:hover {
    background-color: #f5f5f5;
    transition: all 1s ease-in 0s;
    transform: scale(1.05);
}

input[type="button"]:hover {
    transition: all 1s ease-in 0s;
    transform: scale(1.05);
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3);
}

table button {
    background-color: #477bff;
    margin-left: 1px;
    display: none;
}

table input {
    margin-left: 1px;
}

table tr:hover {
    background-color: rgba(80, 112, 163, 0.4);
    transition: all 1s ease-in 0s;
    transform: scale(1.01);
}

table tr:hover button {
    display: inline;
}

table button:active {
    background-color: aqua;
    display: none;
}